.MovieGallery {
  display: grid;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.MovieForm {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}

.MovieFormInput {
  display: inline-block;
  font-size: 20px;
  padding: 8px 24px;
  margin-right: 10px;
  border: 1px solid #0a88c2;
  border-radius: 8px;
  background-color: #ffff;
  transition: all 0.2s ease-in-out;
}

.MovieFormInput::placeholder {
  font: inherit;
  font-size: 18px;
}

.MovieFormInput:hover {
  box-shadow: inset 1px 1px 2px #14afec, inset -1px -1px 2px;
}

.MovieFormInput:focus-visible {
  box-shadow: inset 1px 1px 2px #14afec, inset -1px -1px 2px #14afec;
  outline: -webkit-focus-ring-color auto 0px;
}

.MovieFormBtn {
  background-color: #0a88c2;
  color: #ffff;
  font-size: 18px;
  font-weight: 400;
  padding: 8px 32px;
  border: 1px solid #0a88c2;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  cursor: pointer;
  outline: none;
  appearance: none;
  transition: all 0.2s ease-in-out;
}

.MovieFormBtn:hover {
  box-shadow: inset 1px 1px 2px #14afec, inset -1px -1px 2px;
}

.MovieFormBtn:focus {
  opacity: 2;
}
